* {
    box-sizing: border-box;
}

body {
    background: rgb(173, 24, 69);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    margin-top: 5rem;
}

.container {
    display: flex;
}

.big-text {
    font-size: 6rem;
    font-weight: bold;
    line-break: 1;
    margin: 0 2rem;
}

.time {
    text-align: center;
}

.time span {
    font-size: 1.5rem;
}