* {
    box-sizing: border-box;
}

body {
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.add {
    background-color: rgb(107, 15, 61);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note {
    background-color: white;
    box-shadow: 0 0 10px 6px rgba(0,0,0,0.2);
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: rgb(107, 15, 61);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.note .tools button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea {
    outline: none;
    border: none;
    height: 400px;
    width: 100%;
}

.note .hidden {
    display: none;
}